.newsletter{
    background-color: lightsalmon;
    padding: 100px;
}
.wrap_newsletter{
    display: flex;
    justify-content: space-between;
   
}
.wrap_newsletter h3{
    color: #fff;
   font-weight: 700;
}
.wrap_newsletter p{
    color: #fff;
}
.form input[type =email] {
   height: 50px;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid lightsalmon;
}
.form input[type=submit]{
    height: 50px;
    padding: 5px;
    background-color: seagreen;
    border-radius: 5px;
    border: 1px solid seagreen;
    color: #fff;
    margin-left: 10px;
    transition: all linear .3s;
}
.form input[type=submit]:hover{
    background-color: green;
}